<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <style>
        body {
            background-color: rgb(103, 106, 255);
            color: rgb(0, 0, 0);
        }

        h1 {
            text-align: center;
        }
        button {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Par Hills Media Video Call</h1>
    <button onclick="location.href = '/login';">Login</button>
</body>
</html>