<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Call</title>
    <style>
        body {
            background-color:cadetblue;
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
    <%- include('includes/header', { user: user }); %>
</body>
</html>